#category-page {
	.wrap-content {
		background: $background;
		padding-top: 20px;

		#breadcrumb {
			position: relative;
			margin-bottom: 20px;

			img {
				width: 100%;
			}
			header {
				position: absolute;
				bottom: 0;
				left: 50px;

				span {
					width: 50px;
					height: 50px;
					border: 1px solid;
					display: inline-block;
					border-radius: 50px;
					text-align: center;
					line-height: 48px;
					background: aquamarine;
					font-size: 20px;
					font-weight: bolder;
				}
				h2 {
					display: inline-block;
					margin-left: 7px;
					vertical-align: baseline;

					a {
						color: white;
						text-decoration: none;
					}
				}
				ul {
					list-style: none;
					padding-left: 0;
					margin-top: 10px;

					li {
						display: inline-block;
						padding: 2px 20px;
						background-color: #d8d8d8;
						border-radius: 20px;
						margin-right: 5px;

						a {
							color: white;
							text-decoration: none;
						}
					}
					li:hover {
						background-color: $main-color;
					}
					li.active {
						background-color: $main-color;
					}
				}
			}
		}

		#featured-content {
			padding-bottom: 10px;

			.newest-articles{
				.col-lg-12.col-md-6 {
					margin-bottom: 20px;

					article {
						background: white;
						height: 100%;

						figure {
							position: relative;
							overflow: hidden;

							img {
								width: 100%;
								min-height: 130px;
								@include transition(0.5);
							}
							img:hover {
								@include scale3d;
							}
							figcaption {
								position: absolute;
								bottom: 5px;
								left: 15px;
								color: #828181;
								font-size: 0.9rem;
							}
						}
						h5 {
							padding: 0 15px;

							a {
								color: black;
								text-decoration: none;
							}
						}
					}
				}
			}

			.hot-articles {
				.col-lg-12 {
					padding: 0;
					text-align: center;
					margin-bottom: 10px;

					img {
						max-width: 350px;
						min-height: 299px;
						margin-bottom: 10px;
						width: 100%;
					}
					article {
						header {
							position: absolute;
							bottom: 20px;
							left: 25px;
							text-align: left;
							width: 340px;
						}
						h6 {
							color: $main-color;
							font-weight: bolder;
						}
						h3, h4 {
							color: white;
							font-weight: bolder;
						}
					}
				}
			}

			.series-article {
				h3 {
					margin-bottom: 20px;
					font-weight: bolder;
				}
				article {
					background: white;
					margin-bottom: 16px;

					img {
						width: 30%;
						max-width: 100px;
					}
					section.info {
						display: inline-block;
						width: 68%;
						vertical-align: middle;
						padding-left: 10px;

						.category {
							margin-bottom: 5px;
							font-size: 0.9rem;
							color: $sub-color;

							a {
								padding-right: 10px;
								border-right: 1px solid;
								margin-right: 5px;
								text-decoration: none;
								color: inherit;
							}
						}
						h5 {
							font-weight: bolder;
						}
					}
				}
				.ads-300x600 {
					.hr-bottom {
						border: none;
					}
				}
			}
		}
	}

	#normal-content {
		padding: 20px 0 50px 0;

		.col-lg-8 {
			article {
				margin-bottom: 20px;

				a {
					color: inherit;
					text-decoration: none;
				}
				img {
					width: 42%;
					max-width: 300px;
				}
				.details {
					width: 57%;
					display: inline-block;
					vertical-align: middle;
					height: 210px;
					padding-left: 10px;
					position: relative;
					border-top: 1px solid #efefef;
					margin-left: -5px;

					.category {
						margin-bottom: 5px;
						padding-top: 5px;
						font-size: 0.9rem;
						color: $sub-color;

						a {
							padding-right: 10px;
							border-right: 1px solid;
							margin-right: 5px;
							text-decoration: none;
							color: inherit;
						}
					}
					.title {

					}
					.descriptions {
						font-size: 0.95rem;
					}
					.counter {
						color: #828181;
						font-size: 0.85rem;
						position: absolute;
						width: 100%;
						bottom: 0;

						span {
							margin-right: 25px;

							i {
								color: #7dce37;
								margin-right: 3px;
							}
						}
						span:nth-child(3) {
							cursor: pointer;
							margin-right: 0;
						}
						span:nth-child(3):hover {
							i {
								color: #828181;
							}
						}
						time {
							float: right;
						}
					}
				}
			}
			.view-more {
				margin-top: 60px;

				button {
					width: 85%;
					margin: 0 auto;
					display: inherit;
					background-color: rgb(125, 206, 55);
					border: none;
					border-radius: 0;
				}
			}
		}
		.col-lg-4 {
			border-left: 1px solid #efefef;

			.hr-top {
				margin-top: 0;
			}
			.ads-300x250, .ads-300x600 {
				margin-bottom: 20px;

				.hr-top, .hr-bottom, h6 {
					display: none;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.wrap-content {
			#breadcrumb {
				img {
					width: 100%;
					min-height: 100px;
				}
				header {
					bottom: 0;
					left: 30px;

					span {
						width: 35px;
						height: 35px;
						line-height: 33px;
					}
					h2 {
						font-size: 1.8rem;
					}
					ul {
						font-size: 0.8rem;
						margin-bottom: 10px;
					}
				}
			}

			#featured-content {
				.hot-articles {
					order: 1;

					.col-lg-12 {
						padding: 0 15px;

						img {
							content: url("http://via.placeholder.com/970x250");
							max-width: inherit;
						}
						article {
							header {
								width: 95%;
							}
						}
					}
				}
			}
		}
	}
}