$main-color: rgb(125, 206, 55);
$sub-color: #828181;

@CHARSET "UTF-8";

.glyphicon {
	font-family: 'Glyphicons Halflings' !important;
}

.fa {
	font-family: 'FontAwesome' !important;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: "Roboto-Light";
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.breadcrumb {
	padding: 5px 10px;
	font-size: 0.8rem;
	background-color: #f8f8f8;

	li.breadcrumb-item {
		a {
			color: #828181;
		}
	}
	.breadcrumb-item+.breadcrumb-item::before {
		content: ">";
	}
}