
/* header */
.header {
	.header-logo {
		text-align: center;
		padding: 30px 0;
	}
	.header-logo img {
		width: 270px;
	}
	.header-banner {
		margin: auto 0;
	}
}

/* end */
/*----------------------------------------------------------*/
/* navbar for desktop */
.navbar {
	background: $main-color;
	position: relative;
	transition: top 0.5s ease;
	-webkit-transition: top 0.5s ease;
	width: 100%;
	padding: 0;
}

.navbar.scroll-down {
	position: fixed;
	top: -56px;
}

.navbar.scroll-up {
	position: fixed;
	top: 0;
	z-index: 98;
}

.nav-item {
	padding: 5px 10px;
}
.nav-item:hover .sub-category {
	display: block;
}
.nav-item:hover {
	background: #efefef;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgb(38, 135, 224);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	font-weight: bold;
}

.navbar-brand, #search-icon-mobile {
	display: none;
}
/* sub-category */
.sub-category {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50px;
	border: 1px solid;
	margin-bottom: 20px;
	z-index: 98;

	img {
		width: 100%;
	}
	header {
		position: absolute;
		bottom: 15px;
		left: 50px;

		span {
			width: 50px;
			height: 50px;
			border: 1px solid;
			display: inline-block;
			border-radius: 50px;
			text-align: center;
			line-height: 48px;
			background: aquamarine;
			font-size: 20px;
			font-weight: bolder;
		}
		h2 {
			display: inline-block;
			margin-left: 7px;
			vertical-align: baseline;

			a {
				color: white;
				text-decoration: none;
			}
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin-top: 10px;

			li {
				display: inline-block;
				padding: 2px 20px;
				background-color: #d8d8d8;
				border-radius: 20px;
				margin-right: 5px;

				a {
					color: white;
					text-decoration: none;
				}
			}
			li:hover {
				background-color: $main-color;
			}
			li.active {
				background-color: $main-color;
			}
		}
	}
}


/* end */
/*----------------------------------------------------------*/
/* search box for desktop */
#search-box-desktop {
	position: relative;
	font-size: 18px;

	#search-input-desktop {
		width: 300px;
		padding: 8px 50px;
		border-radius: 50px;
		-webkit-transition: 1s;
		transition: 1s;
	}
	#search-input-desktop:focus {
		width: 350px;
	}
	label[for="search-input-desktop"] {
		position: absolute;
		left: 18px;
		top: 10px;
	}
}

/* end */

@media (max-width: 991px) {
	/* navbar for mobile */
	body > header.header {
		display: none;
	}
	.navbar-toggler-icon {
		width: 1em;
		height: 1em;
	}
	.navbar-brand {
		display: block;
	}
	#search-icon-mobile {
		display: block;
		font-size: 1.3em;
		color: rgba(0, 0, 0, .5);
	}
	/* end */

	/* search box for mobile */
	#search-box-mobile {
		position: fixed;
		width: 100%;
		font-size: 18px;
		padding: 0 10px;
		z-index: 98;
	}
	#search-input-mobile {
		width: 100%;
		padding: 8px 50px;
		border-radius: 50px;
	}
	#search-box-mobile label[for="search-input-mobile"] {
		position: absolute;
		left: 35px;
		top: 18px;
	}
	/* end */
}

@media (max-width: 767px) {
	#search-box-mobile label[for="search-input-mobile"] {
		top: 13px;
	}
}

/* end */
/*----------------------------------------------------------*/
/* left navigation */
.wrap-left-navigation {
	width: 100%;
	background: gainsboro;
	opacity: 0.4;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: 99;
}

#left-navigation {
	background: ghostwhite;
	width: 280px;
	height: 100%;
	opacity: 1;
	position: fixed;
	top: 0;
	left: -280px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: 100;
	overflow-y: scroll;
	padding-bottom: 30px;

	.user-profile {
		text-align: center;
		padding: 20px 0;
		background: azure;

		label[for="user-avatar"] {
			margin-top: 15px;
		}
	}
	#user-avatar {
		border-radius: 200px;
	}
	.nav-link {
		padding-left: 15px;
	}
	.nav-item.active {
		background: $main-color;
	}
}
#left-navigation.open {
	left: 0;
}

/* end */
/*----------------------------------------------------------*/
/* footer and subscribe form */

body > footer {
	padding: 50px 0;
	background: black;
	border-top: 2px solid $main-color;
	border-bottom: 5px solid $main-color;

	img {
		max-width: 300px;
		margin-bottom: 5px;
	}
	hr {
		border-top: 1px solid #212529;
		width: 120px;
	}
	p {
		font-size: 0.8rem;
	}
	p a {
		color: rgb(99, 146, 50);
	}
}

@media (max-width: 767px) {
	body > footer img {
		max-width: 250px;
	}
}

@media (max-width: 575px) {
	body > footer img {
		max-width: 200px;
	}
}

#subscribe-form {
	background-color: rgb(232, 234, 235);
	padding: 40px 0 20px 0;
	.col-lg-7 {
		text-align: right;
		img {
			max-width: 120px;
			vertical-align: text-bottom;
		}
		section {
			display: inline-block;
			width: 80%;
			max-width: 390px;
			margin-left: 15px;
			h4 {
				text-align: left;
			}
			p {
				text-align: justify;
				color: #828181;
			}
		}
	}
	.col-lg-5 {
		h4 {
			margin-bottom: 10px;
		}
		form {
			position: relative;
			max-width: 400px;
			input {
				width: 100%;
				height: 40px;
				padding-left: 20px;
				border: none;
			}
			span {
				width: 40px;
				height: 40px;
				background-color: $main-color;
				display: inline-block;
				background-image: url(/static/common/logo/fly-white.png);
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

@media (max-width: 991px) {
	#subscribe-form {
		.col-lg-7 {
			text-align: center;
		}
		.col-lg-5 {
			margin-top: 20px;
			h4 {
				max-width: 400px;
				margin: 0 auto 10px auto;
			}
			form {
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 575px) {
	#subscribe-form {
		padding: 35px 0;
		.col-lg-7 {
			display: none;
		}
		.col-lg-5 {
			margin-top: 0;
		}
	}
}
/* end */
/*----------------------------------------------------------*/
/* breadcrumb */
#breadcrumb {
	position: relative;
	margin-bottom: 20px;

	img {
		width: 100%;
	}
	header {
		position: absolute;
		bottom: 0;
		left: 50px;

		span {
			width: 50px;
			height: 50px;
			border: 1px solid;
			display: inline-block;
			border-radius: 50px;
			text-align: center;
			line-height: 48px;
			background: aquamarine;
			font-size: 20px;
			font-weight: bolder;
		}
		h2 {
			display: inline-block;
			margin-left: 7px;
			vertical-align: baseline;

			a {
				color: white;
				text-decoration: none;
			}
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin-top: 10px;

			li {
				display: inline-block;
				padding: 2px 20px;
				background-color: #d8d8d8;
				border-radius: 20px;
				margin-right: 5px;

				a {
					color: white;
					text-decoration: none;
				}
			}
			li:hover {
				background-color: $main-color;
			}
			li.active {
				background-color: $main-color;
			}
		}
	}
}

@media (max-width: 991px) {
	#breadcrumb {
		img {
			width: 100%;
			min-height: 100px;
		}
		header {
			bottom: 0;
			left: 30px;

			span {
				width: 35px;
				height: 35px;
				line-height: 33px;
			}
			h2 {
				font-size: 1.8rem;
			}
			ul {
				font-size: 0.8rem;
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 575px) {
	#breadcrumb {
		header {
			left: 10px;

			span {
				width: 30px;
				height: 30px;
				line-height: 28px;
			}
			h2 {
				font-size: 1.4rem;
			}
			ul {
				margin: 0;

				li {
					margin-bottom: 5px;
				}
			}
		}
	}
}
/* end */
/*----------------------------------------------------------*/