#series-page {
	.wrap-content {
		padding-top: 20px;

		#series-info {
			.series-title {
				position: relative;
				color: white;

				img {
					width: 100%;
					height: 400px;
				}
				header {
					position: absolute;
					bottom: 15px;
					width: 100%;
					background: aliceblue;
					height: 120px;
					padding: 30px 0 0 50px;
					background-color: rgba(0, 0, 0, 0.28);

					.category {
						display: inline-block;

						span {
							width: 80px;
							height: 80px;
							border: 1px solid;
							display: inline-block;
							border-radius: 50px;
							text-align: center;
							background: aquamarine;
							font-weight: bolder;
							color: black;
							font-size: 3rem;
							line-height: 75px;
						}
						section {
							display: inline-block;
							vertical-align: bottom;
							margin-left: 7px;

							p:nth-child(1) {
								margin-bottom: 0;
								font-weight: 600;
								font-size: 1.5rem;

								a {
									color: inherit;
								}
							}
							p:nth-child(2) {
								font-size: 0.9rem;

								a {
									color: inherit;
								}
							}
						}
					}
					.title {
						display: inline-block;
						vertical-align: top;
						padding-left: 30px;

						h4 {
							a {
								color: inherit;
								text-decoration: none;
							}
						}
						.social-share {
							padding: 7px 0 10px 0;

							img {
								width: 45px;
								margin-right: 5px;
							}
							.fb_iframe_widget_fluid {
								display: inline-block;
							}
							#___plus_0, #___plus_1 {
								vertical-align: middle !important;
								margin-top: 3px !important;
							}
							#twitter-widget-0, #twitter-widget-1 {
								vertical-align: middle;
								margin-top: 3px;
							}
						}
					}
				}
			}
			.series-descriptions {
				background: rgb(234, 237, 231);
				padding: 10px 90px;
				padding-top: 30px;

				.description {
					border-left: 3px solid rgb(220, 220, 223);
					padding-left: 15px;
				}
			}
		}

		#series-articles {
			padding: 20px 0 50px 0;

			.col-lg-8 {
				article {
					margin-bottom: 20px;

					img {
						width: 42%;
						max-width: 300px;
					}
					.details {
						width: 57%;
						display: inline-block;
						vertical-align: top;
						min-height: 205px;
						padding-left: 10px;
						position: relative;
						border-top: 1px solid #efefef;
						margin-left: -5px;

						.category {
							margin-bottom: 5px;
							padding-top: 5px;
							font-size: 0.9rem;
							color: $sub-color;

							a {
								padding-right: 10px;
								border-right: 1px solid;
								margin-right: 5px;
								color: inherit;
							}
						}
						.title {
							margin-top: 10px;
							a {
								color: inherit;
								text-decoration: none;
							}
						}
						.descriptions {
							font-size: 0.95rem;
						}
						.counter {
							color: #828181;
							font-size: 0.85rem;
							position: absolute;
							width: 100%;
							bottom: 0;

							span {
								margin-right: 25px;

								i {
									color: #7dce37;
									margin-right: 3px;
								}
							}
							span:nth-child(3) {
								cursor: pointer;
								margin-right: 0;
							}
							span:nth-child(3):hover {
								i {
									color: #828181;
								}
							}
							time {
								float: right;
							}
						}
					}
				}
				.view-more {
					margin-top: 60px;

					button {
						width: 85%;
						margin: 0 auto;
						display: inherit;
						background-color: rgb(125, 206, 55);
						border: none;
						border-radius: 0;
					}
				}
			}
			.col-lg-4 {
				border-left: 1px solid #efefef;

				.hr-top {
					margin-top: 0;
				}
				.ads-300x250, .ads-300x600 {
					margin-bottom: 20px;

					.hr-top, .hr-bottom, h6 {
						display: none;
					}
				}
			}
		}
	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991px) {
		.wrap-content {
			#series-info {
				.series-title {
					img {
						height: 330px;
					}
					header {
						padding-top: 0;

						.category {
							display: none;
						}
						.title {
							display: block;
							margin-top: 20px;

							h4 {
								margin-bottom: 0;
							}
						}
					}
				}
				.series-descriptions {
					padding: 10px 50px;
					padding-top: 30px;
				}
			}

			#series-articles {
				.col-lg-4 {
					display: none;
				}
			}
		}
	}

	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575px) {
		.wrap-content {
			#series-info {
				.series-title {
					img {
						height: 220px;
					}
					header {
						padding-left: 0;
					}
				}
				.series-descriptions {
					padding: 0 30px;
					padding-top: 30px;
				}
			}

			#series-articles {
				.col-lg-8 {
					article {
						img {
							width: 100%;
							max-width: inherit;
						}
						.details {
							display: block;
							width: 100%;
							border: none;
							border-bottom: 1px solid #efefef;
							padding-bottom: 20px;
							height: inherit;

							.descriptions {
								margin-bottom: 10px;
							}
							.counter {
								position: relative;
							}
						}
					}
					.view-more {
						margin-top: 40px;

						button {
							width: 85%;
							margin: 0 auto;
							display: inherit;
							background-color: rgb(125, 206, 55);
							border: none;
							border-radius: 0;
						}
					}
				}
				.col-lg-4 {
					display: none;
				}
			}
		}
	}
}