#small-category-page {
	.wrap-content {
		padding-top: 20px;

		#main-content {
			padding-bottom: 30px;

			#left-content {
				#slides-show {
					margin-bottom: 30px;
				}
				article {
					margin-bottom: 20px;

					a {
						color: inherit;
						text-decoration: none;
					}
					img {
						width: 42%;
						max-width: 300px;
					}
					.details {
						width: 57%;
						display: inline-block;
						vertical-align: middle;
						height: 210px;
						padding-left: 10px;
						position: relative;
						border-top: 1px solid #efefef;
						margin-left: -5px;

						.category {
							margin-bottom: 5px;
							padding-top: 5px;
							font-size: 0.9rem;
							color: $sub-color;

							a {
								padding-right: 10px;
								border-right: 1px solid;
								margin-right: 5px;
								text-decoration: none;
								color: inherit;
							}
						}
						.title {

						}
						.descriptions {
							font-size: 0.95rem;
						}
						.counter {
							color: #828181;
							font-size: 0.85rem;
							position: absolute;
							width: 100%;
							bottom: 0;

							span {
								margin-right: 25px;

								i {
									color: #7dce37;
									margin-right: 3px;
								}
							}
							span:nth-child(3) {
								cursor: pointer;
								margin-right: 0;
							}
							span:nth-child(3):hover {
								i {
									color: #828181;
								}
							}
							time {
								float: right;
							}
						}
					}
				}
				.view-more {
					margin-top: 60px;

					button {
						width: 85%;
						margin: 0 auto;
						display: inherit;
						background-color: rgb(125, 206, 55);
						border: none;
						border-radius: 0;
					}
				}
			}
			#right-content {
				border-left: 1px solid #efefef;

				.subscribe-form-2 {
					color: white;
					font-weight: bolder;
					margin-bottom: 30px;
					position: relative;
					text-align: center;

					img {
						width: 100%;
					}
					header {
						position: absolute;
						top: 30px;
						left: 15px;
						width: 90%;

						form {
							position: relative;

							input {
								width: 100%;
								height: 40px;
								padding-left: 20px;
								border: none;
							}
							span {
								width: 40px;
								height: 40px;
								background-color: $main-color;
								display: inline-block;
								background-image: url(/static/common/logo/fly-white.png);
								background-repeat: no-repeat;
								background-position: center;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
				.ads-300x600:first-of-type {
					hr.hr-top, h6 {
						display: block;
					}
				}
				.ads-300x600 {
					margin-bottom: 20px;
					hr.hr-top, hr.hr-bottom, h6 {
						display: none;
					}
				}
			}
		}
	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991px) {
		.wrap-content {

			#main-content {
				#left-content {

				}
				#right-content {
					display: none;
				}
			}
		}
	}
}